<form>
  <label for = "calculated_square">Enter a number</label>
  <input id = "calculated_square" type = "text" placeholder = "What number do you want to square" name = "input_number">


  <button>Calculate square</button>
</form>
